<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] Admin Task</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true"/>
</head>
<body>


<header>
    <partial name="_Navbar"/>
</header>
<div class="bg_color"></div>
<div class="wave-contenedor-contenedor position-absolute w-100 top-0">
    <div class="wave-contenedor">
        <div class="wave w1"> </div>
        <div class="wave w2"></div>
    </div>
</div>

<div class="container contenedor-body">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>