<nav class="navbar navbar-light bg-light ">
    <div class="container-fluid mx-5">
        <div class="row align-items-center flex-nowrap">

            <img src="Images/tareas.png" class="icono"/>
            <a class="navbar-brand w-auto " asp-area="" asp-controller="Home" asp-action="Index">
                <b class="text-light traello">Traello</b>
            </a>

        </div>
        <button id="navToggler" class="navbar-toggler   bg-white menu-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end  navbar-lateral" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <div class="row align-items-center">
                    <img src="Images/pizarron.png" class="icono2 col-auto"/>
                   
                    <h4 class="offcanvas-title text-light p-0 col " id="offcanvasNavbarLabel">Tableros</h4>

                </div>
                <button type="button" class="btn-close btn-close-white opacity-1" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                @* <form class="d-flex mt-3" role="search"> *@
                @* </form> *@
                <div class="col gap-2">

                    <div class="row justify-content-end p-2">
                        <button
                            class="btn btn-light col-12 boton-crear-seccion"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#myCollapse"
                            aria-expanded="false"
                            aria-controls="collapseExample">
                            Nuevo Tablero
                        </button>
                    </div>

                    <div class="row collapse g-2 mt-2" id="myCollapse">
                        <div class="col-8">
                            <input  id="tituloTablero" class="form-control" type="text" placeholder="Nombre del nuevo tablero" aria-label="crear tablero">
                        </div>
                        <div class="col-4">
                            <button
                                type="button"
                                class=" btn text-light boton-crear-lista w-100 col-6"
                                id="btnCrearTablero"
                                >
                                Crear
                            </button>
                        </div>
                    </div>
                </div>
                <ul id="sidebar" class="navbar-nav justify-content-end flex-grow-1  mt-3 "></ul>
            </div>
        </div>
    </div>
</nav>