<nav class="navbar navbar-light   bg-light ">
    <div class="container-fluid mx-5">
        <div class="row align-items-center flex-nowrap">

            <img src="Images/tareas.png" class="icono"/>
            <a class="navbar-brand w-auto" asp-area="" asp-controller="Home" asp-action="Index">
                <b class="text-light">Traello</b>
            </a>
        </div>
        <button class="navbar-toggler   bg-white menu-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="offcanvas offcanvas-end  navbar-lateral" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <div class="row align-items-center">
                    <img src="Images/pizarron.png" class="icono2 col-auto"/>
                    <h4 class="offcanvas-title text-light p-0 col " id="offcanvasNavbarLabel">Tableros</h4>

                </div>
                <button type="button" class="btn-close btn-close-white opacity-1" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form class="d-flex mt-3" role="search">
                    <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
                </form>
                <ul class="navbar-nav justify-content-end flex-grow-1  mt-1 ">
                    <li class="nav-item hover sidebar-menu-item">
                        <a class="nav-link active  text-light" aria-current="page" href="#">Tablero 1</a>
                    </li>
                    <li class="nav-item hover sidebar-menu-item ">
                        <a class="nav-link active  text-light" aria-current="page" href="#">Tablero 2</a>
                    </li>
                    <li class="nav-item hover sidebar-menu-item">
                        <a class="nav-link active  text-light" aria-current="page" href="#">Tablero 3</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>