@{
    ViewData["Title"] = "Inicio";
}


<div class="text-center row justify-content-center align-items-center inicio">
    <h1 class="text-light col-auto ">Mi Pizarra</h1>
    <div class="col-auto">

        <a href="" class="btn btn-light boton-crear-seccion">Crear Lista</a>
    </div>
</div>

<div class="listado ">

    <partial name="_Lista"/>
</div>