@{
    ViewData["Title"] = "Inicio";
}


<div class="text-center row justify-content-center align-items-center inicio">
    <h1 class="text-light col-auto ">Mi Pizarra</h1>
    <div class="col-auto">
        
        <a href="" class="btn btn-light boton-crear-seccion">Crear Lista</a>
    </div>
</div>

<div class="listado">

   
    <div class="lista">
        <div class="justify-content-between row p-3">
            <h3 class="col">Pendiente</h3>
            <div class="col">   
                <a href="" class="btn btn-primary">Editar</a>
                <a href="" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        

        
        <div class="tarea card">
            <div class="card-body">
                <div class="row g-0">
                    <h4 class="card-title col">Esto es una tarea</h4>
                    <a href="" class="btn btn-danger circulo-eliminar col-auto p-0"></a>
                </div>
                <p class="card-text">la tarea es para manana asi que debemos estar pendientes de todo.</p>
            </div>
        </div>
        <div class="tarea card">
            <div class="card-body">
                <div class="row g-0">
                    <h4 class="card-title col">Esto es una tarea</h4>
                    <a href="" class="btn btn-danger circulo-eliminar col-auto p-0"></a>
                </div>
                <p class="card-text">la tarea es para manana asi que debemos estar pendientes de todo.</p>
            </div>
        </div>
        <div class="tarea card">
            <div class="card-body">
                <div class="row g-0">
                    <h4 class="card-title col">Esto es una tarea</h4>
                    <a href="" class="btn btn-danger circulo-eliminar col-auto p-0"></a>
                </div>
                <p class="card-text">la tarea es para manana asi que debemos estar pendientes de todo.</p>
            </div>
        </div>
        
            
            
                
    </div>
    <div class="lista">
        <div class="justify-content-between row p-3">
            <h3 class="col">En Proceso</h3>
            <div class="col">   
                <a href="" class="btn btn-primary">Editar</a>
                <a href="" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
            
    
            
        <div class="tarea card">
            <div class="card-body">
                <div class="row g-0">
                    <h4 class="card-title col">Esto es una tarea</h4>
                    <a href="" class="btn btn-danger circulo-eliminar col-auto p-0"></a>
                </div>
                <p class="card-text">la tarea es para manana asi que debemos estar pendientes de todo.</p>
            </div>
        </div>
        <div class="tarea card">
            <div class="card-body">
                <div class="row g-0">
                    <h4 class="card-title col">Esto es una tarea</h4>
                    <a href="" class="btn btn-danger circulo-eliminar col-auto p-0"></a>
                </div>
                <p class="card-text">la tarea es para manana asi que debemos estar pendientes de todo.</p>
            </div>
        </div>
        <div class="tarea card">
            <div class="card-body">
                <div class="row g-0">
                    <h4 class="card-title col">Esto es una tarea</h4>
                    <a href="" class="btn btn-danger circulo-eliminar col-auto p-0"></a>
                </div>
                <p class="card-text">la tarea es para manana asi que debemos estar pendientes de todo.</p>
            </div>
        </div>
            
                
                
                    
    </div>
    
    <div class="lista">
        <div class="justify-content-between row p-3">
            <h3 class="col">Terminado</h3>
            <div class="col">   
                <a href="" class="btn btn-primary">Editar</a>
                <a href="" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
            
    
            
        <div class="tarea card">
            <div class="card-body">
                <div class="row g-0">
                    <h4 class="card-title col">Esto es una tarea</h4>
                    <a href="" class="btn btn-warning circulo-eliminar col-auto p-0"></a>
                </div>
                <p class="card-text">la tarea es para manana asi que debemos estar pendientes de todo.</p>
            </div>
        </div>
        <div class="tarea card">
            <div class="card-body">
                <div class="row g-0">
                    <h4 class="card-title col">Esto es una tarea</h4>
                    <a href="" class="btn btn-warning circulo-eliminar col-auto p-0"></a>
                </div>
                <p class="card-text">la tarea es para manana asi que debemos estar pendientes de todo.</p>
            </div>
        </div>
        <div class="tarea card" draggable="true">
            <div class="card-body" draggable="true">
                <div class="row g-0">
                    <h4 class="card-title col">Esto es una tarea</h4>
                    <a href="" class="btn btn-warning circulo-eliminar col-auto p-0"></a>
                </div>
                <p class="card-text">la tarea es para manana asi que debemos estar pendientes de todo.</p>
            </div>
        </div>
            
                
                
                    
    </div>
    
    
    
    
    
       

    
</div>