
:root {
    --hover-color: rgba(0, 0, 0, 0.1);
    --color-azul: rgb(12, 99, 228);
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.contenedor-body {
    height: 80vh;
}

.navbar {
    background-color: var(--color-azul) !important;
    color: white !important;
}

header b {
    font-size: 28px;
}

.icono {
    width: 80px;
}

.boton-crear-seccion {
    font-size: 20px;
    color: rgba(0, 22, 61);
    box-shadow: none;
    transition: 0.2s;
}

.boton-crear-lista {
    border: 1px solid rgba(255, 255, 255, 0.82);
    font-size: 18px;
    box-shadow: none;
    transition: 0.4s;
}

.boton-crear-lista:hover {
    background-color: #FBFBFB;
    color: black !important;


}

.boton-crear-seccion:hover {
    scale: 1.01;
    box-shadow: 6px 6px 20px rgba(251, 251, 251, 0.5);
}

.bg_color {
    width: 100%;
    height: 40%;
    background-color: var(--color-azul);
    position: absolute;
    top: 0;
    z-index: -10;
}

.wave-contenedor-contenedor {
    z-index: -10;
    height: 600px;
}

.wave-contenedor {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    z-index: -10;
}

.wave {
    width: 4000px;
    height: 600px;
    position: absolute;
    top: 120px;
    left: 0;
    background-image: url(../Images/wd1.svg);
    background-position: bottom;


}

.w1 {
    animation: w1 12s linear infinite;
}

.w2 {
    animation: w2 12s linear -.225s infinite, desplazamiento 12s ease -.125s infinite;
    opacity: 0.5;
}


@keyframes w1 {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes w2 {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes desplazamiento {
    0%, 100% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateY(10px);
    }
}

.listado {
    height: 80vh;
    overflow-y: auto;
    display: flex;
    width: 100%;
    margin-top: 40px;
    padding: 0px 0px 20px 0px;
    gap: 20px;
}

.listado::-webkit-scrollbar {
    width: 5px;
}


.listado::-webkit-scrollbar-thumb {
    background-color: rgba(12, 99, 228, 0.60);
    border-radius: 3px;
    scrollbar-width: thin;

}

.listado::-webkit-scrollbar-thumb:hover {
    background-color: rgba(12, 99, 228, 1);

}


.tarea {

    background-color: rgba(255, 255, 255, 0.16);
    transition: 0.2s;
}

.tarea:hover {
    transform: scale(1.03);
    background-color: var(--hover-color);
}

.boton-crear-tarea {
    border: 1px solid rgba(255, 255, 255, 0.82);
    font-size: 18px;
    box-shadow: none;
    transition: 0.4s;
}

.boton-crear-tarea {
    color: black !important;
}

.circulo-eliminar {
    background-color: rgba(255, 32, 32, 0.79);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: 0.2s;
}

.circulo-eliminar:hover {
    background-color: rgb(255, 32, 32);
    scale: 1.15;
}

.editable{
    transition: 0.2s;
}

.editable[contenteditable="true"] {
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 5px;
    padding: 5px;
    max-height: 60px;
    transition: 0.2s;
    border: 1px solid rgba(255, 255, 255, 0.82);
    outline: none;
}
